@font-face {
  font-family: "Gyahegi";
  src: url("fonts/gyahegi.otf")
}

$gyahegi: 'Gyahegi', sans-serif;

@keyframes oscillate {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}

h1, h2, h3, h4, h5 {
  font-family: $gyahegi;
  text-align: center;
}

p {
  font-family: 'Poppins', sans-serif;
}

img.logo-img {
  width: 65%;
  max-width: 250px;
}

.header {
  display: flex;
  margin: 25px 30px;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 770px) {
    flex-direction: column;
  }
  .links {
    color: rgb(53, 53, 53);
    @media screen and (max-width: 770px) {
      margin-top: 14px;
    } 
  }
  a {
    cursor: pointer;
    margin: 0px 12px;
    text-decoration: 0.7px underline;
    text-underline-offset: 6px;
    transition: 0.2s;
    color: rgb(0, 0, 0);
    &:hover {
      text-underline-offset: 10px;
    }
  }
}

.container {
  width: 90%;
  margin: auto;
  max-width: 1200px;

  img {
    display: block;
    width: 80%;
    margin: auto;
    max-width: 700px;
    margin-top: 50px;
  }

  img.time-table {
    width: 100%;
    max-width: 900px;
    margin-top: -50px;
    margin-bottom: -50px;
  }

  img.down-arrow {
    width: 20px;
    animation: oscillate 2s infinite;
    cursor: pointer;
  }

  img.atishi-image {
    width: 75%;
    max-width: 300px;
  }

  p {
    width: 90%;
    text-align: center;
    max-width: 700px;
    margin: auto;
  }

  .download-pdf {
    display: block;
    width: 175px;
    padding: 15px 0px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    background: #1D233D;
    color: white;
    border-radius: 10px;
    transition: 0.2s;
    box-shadow: 0px 5px 25px 0.5px rgba(80, 80, 80, 0.25);
    &:hover {
      background: black;
    }
  }
}

p.p-em {
  font-size: 1.3rem;
  margin: 15px auto;
}

hr {
  width: 80%;
  max-width: 700px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #CCCCCC;
}

.cards-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  box-shadow: 0px 5px 25px 0.5px rgb(110, 110, 110, 0.25);
  border-radius: 15px;
  margin: 30px 25px;
  img {
    width: 100%;
    aspect-ratio: 1;
    margin-top: 0;
    border-radius: 10px;
  }
  h5 {
    padding-bottom: 25px;
  }
  p {
    margin-top: -30px;
    padding-bottom: 25px;
  }
}

.footer {
  background: #1D233D;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-top: 50px;
  .gray {
    color: rgba(255, 255, 255, 0.6);
  }
  p {
    font-weight: 500;
    margin: 5px;
    font-size: 0.8rem;
    text-align: right;
    @media screen and (max-width: 770px) {
      text-align: center;
    }
  }
  @media screen and (max-width: 770px) {
    flex-direction: column;
  }
}